.viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  touch-action: none;
  background: var(--color-neutral-50);
}

.canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.imageCard {
  position: absolute;
  background: var(--color-neutral-100);
  user-select: none;
  will-change: transform;
  overflow: hidden;
}

.imageCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.imageCard p {
  position: absolute;
  bottom: 16px;
  left: 16px;
  line-height: 1;
  font-size: var(--font-2xsm);
  font-family: var(--font-mono);
  font-weight: 500;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.imageCard:hover img {
  transform: scale(1.1);
}

.navbar {
  position: fixed;
  width: 100%;
  bottom: 20px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  z-index: 99;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 40px;
  width: 40px;
  color: var(--color-foreground);
  border-radius: 50%;
  font-size: var(--font-xsm);
  cursor: pointer;
}

.socials {
  padding: 0 20px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  font-family: var(--font-mono);
  font-size: var(--font-2xsm);
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  gap: 12px;
  border-radius: 999px;

  & a {
    color: var(--color-foreground);
    text-decoration: none;
  }
}

.name {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: clamp(54px, 8vw, 92px);
  font-family: var(--font-display);
  text-transform: uppercase;
  pointer-events: none;

  & span {
    display: block;
    line-height: 0.9;
    height: 1em;
    overflow: hidden;

    &.title {
      font-size: 0.6em;

      & i {
        font-style: italic;
      }
    }

    &.instruction {
      font-size: 18px;
      font-style: italic;
      margin-top: 12px;
      text-transform: lowercase;
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 3;
}

.info {
  & h2 {
    font-weight: 500;
    margin-bottom: 20px;
  }

  & p {
    color: var(--color-foreground-subtle);

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    & a {
      color: var(--color-foreground);
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-color: var(--color-foreground-subtler);
      text-underline-offset: 4px;
      font-weight: 500;
    }
  }
}

.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  padding: 0 20px;
  top: 20px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & .headerGroup {
    display: flex;
    align-items: center;
    gap: 4px;

    & img {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid var(--color-neutral-200);
    }

    & a,
    & button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(6px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      height: 40px;
      width: 40px;
      color: var(--color-foreground);
      border-radius: 50%;
      font-size: var(--font-sm);
      cursor: pointer;
    }
  }
}
