.viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  touch-action: none;
  background: var(--color-neutral-50);
}

.canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.imageCard {
  position: absolute;
  background: var(--color-neutral-100);
  user-select: none;
  will-change: transform;
  overflow: hidden;
}

.imageCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.imageCard p {
  position: absolute;
  bottom: 16px;
  left: 16px;
  line-height: 1;
  font-size: var(--font-2xsm);
  font-family: var(--font-mono);
  font-weight: 500;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.imageCard:hover img {
  transform: scale(1.1);
}

.socials {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  font-family: var(--font-mono);
  font-size: var(--font-2xsm);
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  gap: 12px;
  border-radius: 999px;

  & a {
    color: var(--color-foreground);
    text-decoration: none;
  }
}

.name {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: clamp(48px, 8vw, 92px);
  font-family: var(--font-display);
  text-transform: uppercase;
  pointer-events: none;

  & span {
    display: block;
    line-height: 0.9;
    height: 1em;
    overflow: hidden;

    &.title {
      font-size: 0.6em;

      & i {
        font-style: italic;
      }
    }

    &.instruction {
      font-size: 18px;
      font-style: italic;
      margin-top: 12px;
      text-transform: lowercase;
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 3;
}
